<section>
  <h3>My reservations | <a ui-sref="logout" ui-sref-active="active">Log out</a></h3>
  <article ng-repeat="reservation in reservations">
    <header>
      <h1>{{reservation.startDate | date}} | {{reservation.finishDate | date}} </h1>
    </header>
  </article>
</section>

<section>
  <p>hello bob</p>
    <div class="demo-section k-content">
      <h4>Select start date and time:</h4>
      <input kendo-date-time-picker k-options="dateOptions" ng-model="dates.startDate" k-ng-model="startDate" />
      <h4>Select finish date and  time:</h4>
      <input kendo-date-time-picker k-options="dateOptions" ng-model="dates.finishDate" k-ng-model="finishDate" />
      <p>
        <kendo-button class="k-primary" ng-click="checkAvailability()">Submit</kendo-button>
      </p>
  </div>
  <div ng-repeat="computer in unoccupied">
   <p>{{computer}}</p>
   <button ng-click="reserve(computer)">Button</button>
  </div>
</section>